.box{
    background-color: rgb(112, 101, 87);
    padding: 10px 5px;
    width: fit-content;
    margin: 10px 10px 10px;
    border-radius: 8%;
}
.box-part{
    background-color: white;
    margin: 30px 20px 20px 20px;
    border-radius: 10%;
    padding: 15px;
    text-align: center;
    flex-wrap: wrap;
}
.body{
    background-color: aqua;
    }
.container{
    background-attachment: fixed;
    background-color: aqua;
    margin: 25px 50px 50px 100px;
    border: 7px;
    border-radius: 7%;
    padding: 10px 20px 20px 50px;
}
.form-control {
    align-content: center;
    display: block;
    width: 75%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
